@media only screen and (min-width: 54rem) {
    
    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  
    .item {
      width: 150px;
      height: 150px;
      padding: 1rem;
      text-align: center;
      border: 5px solid #000;
      border-radius: 5px;
    }

    h3 {
      grid-column: 1/5;
    }
  
    img {
      max-width: 700px;
    }
  }
  