* {
  list-style-type: none;
}

header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0.75rem;
}

body {
  line-height: 1;
}

nav {
  font-family: var(--nav-font);
}

:root {
  --text-color: #f5f9ff;
  --bg-color: #101019;
  --hf-font: "Aleo", serif;
  --nav-font: "Lato", sans-serif;
  --paragraph-font: "Raleway", sans-serif;
  --heading-font: "Roboto Slab", serif;
  --join-font: "Gabarito", sans-serif;
  --active-color: #94ff96;
  --footer-font: "Roboto Mono", monospace;
}

header,
footer {
  background-color: #101019;
  color: #f5f5f5;
}

header {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

.logo h1 {
  color: var(--text-color);
  font-size: 1.5rem;
}

.logo img {
  width: 100%;
  height: auto;
}

.navbar a {
  color: var(--text-color);
  font-size: 1.1rem;
}

.social {
  display: flex;
  align-items: center;
  z-index: 1;
}

.social img {
  max-width: 100%;
  width: 30px;
  height: auto;
}

.logo img {
  max-width: 100%;
  width: 70px;
  border-radius: 50px;
}

.header-section {
  display: flex;
  align-items: center;
}

.header-section h1 {
  margin: 0;
  font-family: var(--hf-font);
}

.header-section h1 {
  font-size: clamp(0.65rem, 4vw, 1.5rem);
}

.bottom-logo {
  max-width: 50px;
  border-radius: 50px;
}

hr {
  margin: 10px 0;
}

.footer-part1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-part1 h3 {
  font-family: var(--heading-font);
  font-size: 1rem;
}

.footer-part1 a {
  font-family: var(--footer-font);
  font-size: 0.85rem;
}

.footer-part1 p {
  font-family: var(--footer-font);
  font-size: 0.85rem;
}

.footer-part2 {
  text-align: center;
  font-family: var(--footer-font);
  font-size: 0.8rem;
}

.footer-logo img {
  max-width: 100%;
  height: auto;
}

.address-section {
  text-align: center;
}
.footer-location {
  color: var(--text-color);
}

.footer-location:hover {
  color: rgb(40, 151, 248);
  transition: 0.3s;
}

.footer-location::before {
  content: "📍";
}

.address h3 {
  margin: 0;
}

#menu {
  font-size: 1.5rem;
  background-color: var(--bg-color);
  padding: 0.25rem 0.75rem;
  border: var(--bg-color);
  color: var(--text-color);
  position: absolute;
  top: 0.4rem;
  right: 0.2rem;
  cursor: pointer;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "✖️";
}

ul .active {
  color: #94ff96;
}

.active::before {
  content: "|";
}

.active::after {
  content: "|";
}

/* Home Page */

.news-release h3 {
  font-family: var(--heading-font);
}

.news-release p {
  font-family: var(--paragraph-font);
  font-weight: 600;
}

.weather h3 {
  font-family: var(--heading-font);
}

.weather p {
  font-family: var(--paragraph-font);
}

.customs p {
  font-family: var(--paragraph-font);
}

.more h3 {
  font-family: var(--heading-font);
}

.more p {
  font-family: var(--paragraph-font);
  font-weight: 600;
}

.comments h3 {
  font-family: var(--heading-font);
}

.more li {
  font-family: var(--paragraph-font);
  font-weight: 600;
}

.more li a {
  color: #00159a;
}

.more li a:hover {
  color: #001547;
}

.comments p {
  font-family: var(--paragraph-font);
  font-weight: 600;
}

.customs h3 {
  font-family: var(--heading-font);
}

.customs li {
  font-family: var(--paragraph-font);
  font-weight: 600;
}

.customs p {
  font-family: var(--paragraph-font);
  font-weight: 600;
}

.customs li a {
  color: #00159a;
}

.customs li a:hover {
  color: #001547;
}

#hero {
  display: grid;
  justify-content: center;
  position: relative;
}

#hero img {
  max-width: 100%;
  height: auto;
}

.join-box {
  text-align: center;
  position: absolute;
  top: 4rem;
  left: 8.9rem;
}

.join {
  background-color: #101019;
  color: var(--text-color);
  font-size: 13px;
  font-family: var(--join-font);
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.join:hover {
  background-color: #9ed0ff;
  color: #000;
  transition: 0.3s;
}

#first-grid {
  display: grid;
}

.home-main section {
  margin: 20px;
  background-color: #b9b9c0;
  border-radius: 5px;
  padding: 0.75rem;
}

section h3 {
  text-align: center;
}

section p {
  text-align: center;
}

#second-grid {
  display: grid;
}

.customs ul li {
  text-align: center;
}

.customs ul {
  padding: 0;
}

.more ul li {
  text-align: center;
}

.more ul {
  padding: 0;
}


/* Discover Page */

/* section span {
  text-align: center;
  margin: 1rem;
} */

.last-visit {
  text-align: center;
  background-color: var(--bg-color);
  color: whitesmoke;
  margin: 50px auto;
  width: 50%;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: var(--heading-font);
  font-size: .8rem;
}

.last-visit p {
  font-size: 1.15rem;
}

.discover-main {
  display: block;
}

.discover-main section {
  margin: 10px;
  background-color: #b9b9c0;
  border-radius: 5px;
  padding: .9rem;
  height: fit-content;
}

figure {
  margin: 0;
}

.image-sidebar figure img {
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.discover-greendale h3 {
  font-family: var(--heading-font);
}

.discover-greendale p {
  font-family: var(--paragraph-font);
  font-weight: 600;
}

.discover-events h3 {
  font-family: var(--heading-font);
}

.discover-events p {
  font-family: var(--paragraph-font);
  font-weight: 600;
}

.discover-economic h3 {
  font-family: var(--heading-font);
}

.discover-economic p {
  font-family: var(--paragraph-font);
  font-weight: 600;
}

.discover-history h3 {
  font-family: var(--heading-font);
}

.discover-history p {
  font-family: var(--paragraph-font);
  font-weight: 600;
}

.discover-education h3 {
  font-family: var(--heading-font);
}

.discover-education p {
  font-family: var(--paragraph-font);
  font-weight: 600;
}

.discover-geographic h3 {
  font-family: var(--heading-font);
}

.discover-geographic p {
  font-family: var(--paragraph-font);
  font-weight: 600;
}

.image-sidebar h3 {
  font-family: var(--heading-font);
}

.image-sidebar p {
  font-family: var(--paragraph-font);
  font-weight: 600;
}

@media only screen and (max-width: 55rem) {
  nav ul {
    padding: 0;
  }

  .navbar {
    position: absolute;
    top: 5rem;
    right: 0rem;
    width: 270px;
    height: 26vh;
    z-index: 1;
    background-color: #101019;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom-left-radius: 10px;
    transition: all 0.5s ease;
  }

  nav a {
    display: block;
    margin: 14px 0;
    padding: 0px 25px;
    transition: all 0.5s ease;
  }

  .navbar a:hover {
    color: #000;
    background-color: #9ed0ff;
    transform: translateY(5px);
    border-radius: 5px;
  }

  .navbar.open {
    display: flex;
  }
}

/* Footer small display */

@media only screen and (max-width: 52rem) {
  .footer-part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
