@media only screen and (min-width: 47.5rem) {
  .parent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
  }

  .parent section {
    box-shadow: 2px 2px 10px black;
  }

  section ul {
    font-size: 1.2rem;
  }

  #menu {
    display: none;
  }

  #toggle {
    top: 6rem;
    right: 1.47rem;
  }

  .navigation ul {
    display: flex;
    justify-content: space-evenly;
  }

  .navigation ul li {
    flex: 1 1 100%;
  }
}
